<main name="sidebar" class="bg-gray-200 h-screen w-screen">

    <div class="grid grid-rows-[auto_1fr_auto] top-0 h-screen w-64">

        <header class="bg-gray-200 h-auto w-full sticky top-0">
                <h1 class="text-lg p-2">UberWings2</h1>
        </header>

        <section class="grid grid-rows-[repeat(auto-fill,minmax(40px,1fr))] gap-2 p-2">
                
                <div class="flex flex-row gap-2 hover:bg-cyan-300 hover:rounded-full cursor-pointer">
                    <img class="h-8 w-auto object-contain rounded-full" src="/assets/dashboard.png" alt="Dashboard">
                    <p class="font-semibold">Dashboard</p>
                </div>

                <div class="flex flex-row gap-2 hover:bg-cyan-300 hover:rounded-full cursor-pointer">
                    <img class="h-8 w-auto object-contain rounded-full" src="/assets/viajes.png" alt="Viajes">
                    <p class="font-semibold">Viajes</p>
                </div>

                <div class="flex flex-row gap-2 hover:bg-cyan-300 hover:rounded-full cursor-pointer">
                    <img class="h-8 w-auto object-contain rounded-full" src="/assets/pasajeros.png" alt="Pasajeros">
                    <p class="font-semibold">Pasajeros</p>
                </div>

                <div class="flex flex-row gap-2 hover:bg-cyan-300 hover:rounded-full cursor-pointer">
                    <img class="h-8 w-auto object-contain rounded-full" src="/assets/conductor-de-autobus.png" alt="Conductores">
|                    <p class="font-semibold">Conductores</p>
                </div>
    </section>

        <footer class="flex flex-row gap-2 p-5 cursor-pointer">
            <img class="h-6 w-auto object-contain rounded-3xl" src="/assets/cerrar-sesion.png" alt="Cerrar Sesion Seccion Sidebar">
            <p class="text-red-600 font-semibold">Cerrar Sesion</p>
        </footer>
    </div>
</main>